/* Adds a subtle white overlay on top of the entire site to make it less appealing. */
body:before {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
  z-index: 10000;
}
