/* The loading posts. */
.exLocu {
  display: none;
}

#harmless-show-next {
  padding: 16px 0;
}

#harmless-show-next a {
  color: #85144b; /* Maroon from https://clrs.cc/ */
  font-weight: bold;
  text-decoration: underline;
}
